:root {
    --high-priority: #eb5757;
    --medium-priority: #eba857;
    --low-priority: #a1eb57;

    --background-color: #2e2a33;
    --secondary-color: #524c5a;
    --text-color: #c7ece9;
    --accent-color: #8eaaa8;
}

.light-mode {
    --background-color: #c7ece9;
    --secondary-color: #9ec2bf;
    --text-color: #2e2a33;
    --accent-color: #6c6377;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    border: 1px solid blue;
}

header img {
    width: 5vw;
    height: 5vh;
}

#pfp {
    width: 3.5vw;
    height: 7vh;

    border-radius: 50%;
}

.container {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border: 1px solid red;

    gap: 15px;
    padding: 10px;
}

.click-button {
    width: 10vw;
    height: 6vh;
    border-radius: 20px;

    color: var(--background-color);
    background-color: var(--text-color);
    border: none;

    font-size: larger;

    transition: all 0.3s ease;
}

.click-button:hover {
    transform: translateY(-5px);
    background-color: var(--accent-color);
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable:hover {
  transform: scale(1.125);
}

.modal {
    padding: 0;

    border-radius: 10px;
    border: none;
}

.form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;

    background-color: var(--text-color);
    color: var(--background-color);

    font-size: x-large;
}

.form button {
    border-radius: 5px;
    height: 4vh;
    font-size: large;

    background-color: var(--background-color);
    color: var(--text-color);

    border: none;
}

.form input {
    border-radius: 5px;
    height: 3vh;
    font-size: large;

    color: var(--text-color);
    background-color: var(--background-color);

    border: none;
}

.form textarea {
    border-radius: 5px;
    font-size: large;

    color: var(--text-color);
    background-color: var(--background-color);

    padding: 10px;
    border: none;
}

.form select {
    border-radius: 5px;
    font-size: large;

    color: var(--text-color);
    background-color: var(--background-color);

    padding: 5px;
    border: none;
}

.form input {
    padding: 5px;
}

#todo-form {
    flex-direction: column;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#projects img {
    height: 4vh;
    width: 4vw;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: large;
}

.project-clickable {
    cursor: pointer;
    transition: color 0.2s;
}

.project-clickable:hover {
    color: #007BFF;
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 5;
    border: 1px solid purple;

    padding: 10px;
}

#todo-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.todo {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 20px;
    
    background-color: var(--secondary-color);
    border-radius: 15px;
    
    margin-top: 20px;
    padding: 10px;
}

.high-priority {
    border-left: 30px solid var(--high-priority);
}

.medium-priority {
    border-left: 30px solid var(--medium-priority);
}

.low-priority {
    border-left: 30px solid var(--low-priority);
}

.todo-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.delete-todo {
    height: 6vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-todo:hover {
    transform: scale(1.125);
}

.delete-project {
    cursor: pointer;
}

.todo-complete {
    width: 25px;
    height: 25px;
    accent-color: var(--accent-color); /* change tick color */
    cursor: pointer;
}

.menu {
    width: 40px;
    height: 40px;
    transition: transform 0.1s ease;
}

.menu.open {
    transform: rotate(90deg); 
}

.edit {
    width: 40px;
    height: 40px;
}